# 분산과 표준편차

In [2]:
import pandas as pd

body_df = pd.read_csv('../data-2/body.csv') # 연속형 데이터 키, 몸무게
body_df

     height  weight
0     188.3    85.8
1     176.2    78.0
2     175.9    75.6
3     181.1    85.1
4     182.6    82.3
..      ...     ...
495   172.0    70.0
496   169.6    83.0
497   163.3    68.6
498   185.7    95.6
499   167.7    76.7

[500 rows x 2 columns]

<분산과 표준편차를 구하는 방식 - `Library간의 차이`>
- `pandas` : n-1(표본)로 나눠준다. 표본에 대한 분산이 과소 평가 되는 경향이 있어서, 부풀려주는 의미
- `numpy` : n(모집단)으로 나눠준다. 엄밀히는 틀리다고 할 수 있지만, 큰 틀의 경향에서는 큰 차이가 없다.

In [3]:
# 분산 : variance
body_df['height'].var()

52.92330276553103

In [7]:
# 표준 편차 : std
body_df['height'].std()

7.2748403945056435

- numpy를 활용한 분산/표준편차
    - 값이 더 작다.

In [6]:
import numpy as np

np.var(body_df['height'])

# pandas보다 1큰 값인 n으로 나눠줬으므로,
# 더 작은 분산 값이 나오는 것을 확인할 수 있다.

52.81745615999996

In [8]:
# 마찬가지다.
np.std(body_df['height'])

7.267561913048967

- `describe()`은 n-1로 나눈 값.

In [10]:
body_df.describe()

          height      weight
count  500.00000  500.000000
mean   173.26280   75.542600
std      7.27484    7.303482
min    151.30000   54.100000
25%    168.50000   70.775000
50%    172.95000   75.300000
75%    178.22500   80.650000
max    195.80000   95.600000

          height      weight
count  500.00000  500.000000
mean   173.26280   75.542600
std      7.27484    7.303482
min    151.30000   54.100000
25%    168.50000   70.775000
50%    172.95000   75.300000
75%    178.22500   80.650000
max    195.80000   95.600000