# DataFrame에서 일부만 선택하기
- pandas에서 DataFrame의 특정 부분을 선택하는 다양한 방법
    1. `iloc` : 정수 인덱스
    2. `loc` : 이름
    3. `대괄호([])` : 심플

## 1. iloc[]: 정수 인덱스를 이용한 선택
- **iloc[]**
    - `정수 인덱스를 사용`해 데이터를 선택합니다.
    - 파이썬의 리스트나 numpy array에서의 인덱싱과 유사합니다.

In [1]:
import pandas as pd
burger_df = pd.read_csv('../data/burger.csv')
burger_df.head(3)

     product_name  calories  carb  protein  fat  sodium category
0         Whopper       660    49       28   40     1.0  Burgers
1  Cheese Whopper       740    50       32   46     1.3  Burgers
2  Double Whopper       900    49       48   58     1.0  Burgers

In [2]:
 # 3번째 로우, 2번째 컬럼 선택
burger_df.iloc[2, 1]

np.int64(900)

- 여러 로우/컬럼 선택

In [3]:
# 2번째, 3번째 로우 - 5번째, 2번째 컬럼 선택
burger_df.iloc[[1, 2], [4, 1]]

   fat  calories
1   46       740
2   58       900

- 슬라이싱(범위)
    - iloc의 슬라이싱에는 마지막 값이 포함되지 않는다. 기존의 여타 인덱싱 슬라이싱과 같이!

In [4]:
 # 2~4번째 로우 범위, 2~4번째 컬럼 범위 선택
burger_df.iloc[1:4, 2:5]

   carb  protein  fat
1    50       32   46
2    49       48   58
3    50       52   64

## 2. loc[]: 이름을 이용한 선택 -> 가장 많이 사용됨
- **loc[]**
    - 이름(로우/컬럼 이름)을 이용해 데이터를 선택합니다. **더 직관적**으로 데이터에 접근할 수 있습니다.

In [5]:
import pandas as pd
burger_df = pd.read_csv('../data/burger.csv', index_col='product_name')
burger_df.head(3)

                calories  carb  protein  fat  sodium category
product_name
Whopper              660    49       28   40     1.0  Burgers
Cheese Whopper       740    50       32   46     1.3  Burgers
Double Whopper       900    49       48   58     1.0  Burgers

In [6]:
  # "Double Whopper"의 "protein" 값을 선택
burger_df.loc['Double Whopper', 'protein']

np.int64(48)

- 여러 로우/컬럼 선택

In [13]:
burger_df.loc[['Whopper', 'Double Whopper'], ['carb', 'protein', 'fat']]

                carb  protein  fat
product_name
Whopper           49       28   40
Double Whopper    49       48   58

- **loc의 슬라이싱**
    - `loc[]의 슬라이싱`에서는 `마지막 값도 포함`됩니다. (ex. ‘Double Whopper’부터 ‘Bacon King’까지 선택)
    
    - 외울 필요 X, 하다가 모자라면 추가해주면 될 뿐!

In [7]:
burger_df.loc['Double Whopper':'Bacon King', 'calories':'fat']

                       calories  carb  protein  fat
product_name
Double Whopper              900    49       48   58
Double Cheese Whopper       980    50       52   64
Whopper Junior              310    27       13   18
Bacon King                 1150    49       61   79

## 3. 바로 대괄호([]) 사용하기
- loc나 iloc 없이 대괄호만 사용해 `특정 지정시, 컬럼을 선택`할 수 있습니다.

- 슬라이싱 아닌 대괄호 : 컬럼 지정

In [10]:
  # "calories" 컬럼 선택
burger_df['calories']
  # 여러 컬럼 선택
burger_df[['calories','fat']].head(3)

                calories  fat
product_name
Whopper              660   40
Cheese Whopper       740   46
Double Whopper       900   58

- 슬라이싱 대괄호 : 로우
    - 대괄호 슬라이싱은 `로우`에 대해서만 가능합니다.

In [11]:
# "Double Whopper"부터 "Bacon King"까지의 로우 선택
burger_df['Double Whopper':'Bacon King']

                       calories  carb  protein  fat  sodium category
product_name
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers

## 4. 요약
1. iloc[]
    - 정수 인덱스로 데이터 선택 (0부터 시작).
2. loc[]
    - **이름(라벨)** 으로 데이터 선택. 더 직관적이며 마지막 값을 포함한 슬라이싱 가능.
3. 대괄호 사용
    - 컬럼 선택 시 간단한 방법이지만 슬라이싱은 로우에만 가능.