# 데이터 수정 및 추가하기
- pandas를 사용하여 DataFrame의 값을 수정하거나 새로운 데이터를 추가하는 방법
- 데이터를 수정하는 다양한 방법과 조건에 따라 **데이터를 필터링하여 수정하는 방법**까지 다뤄봅시다.

## 1. 값 한 개 바꾸기
- 특정 위치의 값을 바꾸기 위해 `loc[]`를 사용합니다.
- 예를 들어, “Double Stacker King”의 “sodium” 값을 수정하려면 다음과 같이 합니다.

                calories  carb  protein  fat  sodium category
product_name
Whopper              660    49       28   40     1.0  Burgers
Cheese Whopper       740    50       32   46     1.3  Burgers
Double Whopper       900    49       48   58     1.0  Burgers

nan

1.9

## 2. 로우 한 줄 바꾸기
- 특정 로우 전체를 수정하려면, 그 로우에 대한 값을 리스트로 입력합니다.

calories        280
carb             27
protein          15
fat              13
sodium          0.6
category    Burgers
Name: Cheeseburger, dtype: object

In [18]:
# 열의 개수가 일치해야함

In [19]:
# 이렇게 하면 ‘Cheeseburger’의 모든 값을 
# 새롭게 설정할 수 있습니다.

calories       360
carb            24
protein         18
fat             21
sodium         0.7
category    Burger
Name: Cheeseburger, dtype: object

## 3. 컬럼 한 줄 바꾸기
- 컬럼 전체를 수정할 때도 마찬가지로, 리스트로 값을 넣어줄 수 있습니다.
    - 슬라이싱 없는 대괄호는 컬럼

product_name
Whopper                  1.0
Cheese Whopper           1.3
Double Whopper           1.0
Double Cheese Whopper    1.4
Whopper Junior           0.4
Bacon King               2.2
Single Stacker King      1.4
Double Stacker King      1.9
Hamburger                0.4
Cheeseburger             0.7
Double Hamburger         0.4
Double Cheeseburger      0.6
Crispy Chicken           1.1
Chicken Nuggets          0.3
Spicy Chicken Nuggets    0.6
Name: sodium, dtype: float64

product_name
Whopper                  1.8
Cheese Whopper           1.6
Double Whopper           1.3
Double Cheese Whopper    2.2
Whopper Junior           0.9
Bacon King               2.4
Single Stacker King      1.7
Double Stacker King      2.2
Hamburger                0.8
Cheeseburger             1.1
Double Hamburger         0.7
Double Cheeseburger      1.2
Crispy Chicken           1.5
Chicken Nuggets          0.8
Spicy Chicken Nuggets    1.3
Name: sodium, dtype: float64

- 컬럼의 모든 값을 동일하게 설정하려면, 리스트 대신 `단일 값을 사용해 한꺼번에` 변경할 수 있습니다.

product_name
Whopper                  1
Cheese Whopper           1
Double Whopper           1
Double Cheese Whopper    1
Whopper Junior           1
Bacon King               1
Single Stacker King      1
Double Stacker King      1
Hamburger                1
Cheeseburger             1
Double Hamburger         1
Double Cheeseburger      1
Crispy Chicken           1
Chicken Nuggets          1
Spicy Chicken Nuggets    1
Name: sodium, dtype: int64

## 4. 새로운 로우 추가하기
- 새로운 로우를 추가하려면 기존의 방법과 동일하게 loc[]를 사용하되, 존재하지 않는 로우 이름을 지정하면 됩니다.

In [26]:
# 로우에 있는지 확인

False

In [30]:
# 이렇게 하면 새로운 메뉴인 
# ‘Triple Whopper’ 로우가 추가됩니다.

calories       1130
carb             49
protein          67
fat              75
sodium          1.1
category    Burgers
Name: Triple Whopper, dtype: object

True

## 5. 새로운 컬럼 추가하기
- 새로운 컬럼을 추가하려면, 기존에 없던 컬럼 이름을 사용하여 데이터를 추가하면 됩니다.

In [31]:
# 컬럼에 있는지 확인

False

In [33]:
# 이 경우, ‘brand’라는 새로운 컬럼이 생성되고, 
# 모든 값이 ‘Burger King’으로 설정됩니다.

product_name
Whopper                  Burger King
Cheese Whopper           Burger King
Double Whopper           Burger King
Double Cheese Whopper    Burger King
Whopper Junior           Burger King
Bacon King               Burger King
Single Stacker King      Burger King
Double Stacker King      Burger King
Hamburger                Burger King
Cheeseburger             Burger King
Double Hamburger         Burger King
Double Cheeseburger      Burger King
Crispy Chicken           Burger King
Chicken Nuggets          Burger King
Spicy Chicken Nuggets    Burger King
Triple Whopper           Burger King
Name: brand, dtype: object

True

## 6. 조건에 따른 값 수정 (불린 인덱싱 활용)
- 특정 조건에 맞는 데이터를 필터링한 후, 그 값들을 수정할 수 있습니다.
- 예를 들어, 칼로리가 500 이상인 메뉴에 ‘high_calorie’ 컬럼을 추가하고 True 값을 설정합니다.

In [36]:
# 보통 단일 불린 값으로 많이 바꾸겠지

product_name
Whopper                  True
Cheese Whopper           True
Double Whopper           True
Double Cheese Whopper    True
Bacon King               True
Single Stacker King      True
Double Stacker King      True
Crispy Chicken           True
Triple Whopper           True
Name: high_calorie, dtype: object

- 이후, 500 미만의 메뉴에 False 값을 설정할 수 있습니다.

product_name
Whopper Junior           False
Hamburger                False
Cheeseburger             False
Double Hamburger         False
Double Cheeseburger      False
Chicken Nuggets          False
Spicy Chicken Nuggets    False
Name: high_calorie, dtype: object

## 7. 정리
1. `특정 값` 이나 `로우 또는 컬럼 전체`를 수정할 수 있으며, `단일 값이나 리스트를 사용`하여 간편하게 수정 가능.
2. 로우나 컬럼을 `추가하는 방법도 동일`하며, 기존에 없는 이름을 사용하면 자동으로 추가됨.
3. 조건에 따른 값 수정은 `불린 인덱싱을 통해 특정 조건에 맞는 값을 필터링`한 후 값을 변경할 수 있음.